.gallery{
    height: 300px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
.gallery .carousel-root{
    height: 100%;
    width: 50%;
}

.gallery .carousel-root .carousel-slider{
    height: 100%;
}
.slider-wrapper{
    height: 100%;
}
.slider{
    height: 100%;
}
.slide div{
    height: 100%;
}
.slide div img{
    height: 100%;
}
.star{
    background-color: yellow;
}

.ratingContainer{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 95%;
    align-self: center;
    margin-left: 2.5%;
    margin-bottom: 10px;
    border-radius: 2px;
    padding-top: 5px;
}

.oduButtons{
    margin-top: 20px;
    margin-left: 5px;
}